## Reading Json files
JSON (JavaScript Object Notation) is a text format for storing and transporting data. It is “self-describing” and easy to understand. JASON files can be loaded in Python. Two methods are used here: first loading the data using pandas DataFrame and then using the python ‘open() file’ function.

#### Requirements:

In [45]:
import pandas as pd
from pandas import Series, DataFrame
import json

In [46]:
# METHOD 1. Read data from fileand display in dataframe:
df_components = pd.read_json('Geophysics/components.json')
# print(df.to_string()) 
# print(df)
df_components.head()

  wellboreName componentName   topDepth  bottomDepth
0   WB08-03-96        HALITE  3479.0160     3480.560
1   WB08-03-96          MARL  3490.3590     3492.108
2   WB08-03-96          SAND  4069.7752     4078.572
3   WB05-10-20     CLAYSTONE  2650.3000     2652.540
4   WB05-10-20         CHALK  2890.9600     3001.890

In [47]:
#### Set the wellboreName name as index  if that's the feature focus# 
df_components.set_index('wellboreName', inplace=True)
# View the first five elements and see how the dataframe was changed
df_components.head()

             componentName   topDepth  bottomDepth
wellboreName
WB08-03-96          HALITE  3479.0160     3480.560
WB08-03-96            MARL  3490.3590     3492.108
WB08-03-96            SAND  4069.7752     4078.572
WB05-10-20       CLAYSTONE  2650.3000     2652.540
WB05-10-20           CHALK  2890.9600     3001.890

In [48]:
# METHOD 2. Use Open() file function
with open('Geophysics/components.json') as f:
  data = json.load(f)
print(data)

[{'wellboreName': 'WB08-03-96', 'componentName': 'HALITE', 'topDepth': 3479.016, 'bottomDepth': 3480.56}, {'wellboreName': 'WB08-03-96', 'componentName': 'MARL', 'topDepth': 3490.359, 'bottomDepth': 3492.108}, {'wellboreName': 'WB08-03-96', 'componentName': 'SAND', 'topDepth': 4069.7752, 'bottomDepth': 4078.572}, {'wellboreName': 'WB05-10-20', 'componentName': 'CLAYSTONE', 'topDepth': 2650.3, 'bottomDepth': 2652.54}, {'wellboreName': 'WB05-10-20', 'componentName': 'CHALK', 'topDepth': 2890.96, 'bottomDepth': 3001.89}, {'wellboreName': 'WB05-10-20', 'componentName': 'SHALE', 'topDepth': 3010.51, 'bottomDepth': 3027.654}, {'wellboreName': 'WB05-10-20', 'componentName': 'SILTSTONE', 'topDepth': 7075.37, 'bottomDepth': 7081.26}, {'wellboreName': 'WB05-10-20', 'componentName': 'LIMESTONE', 'topDepth': 7101.134, 'bottomDepth': 7102.292}]